
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}
    <link href="{% static "base/images/favicon.ico" %}" rel="icon">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <title>{% block title %}Memex Explorer{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "base/css/dataTables.css" %}" rel="stylesheet">
    <link href="{% static "base/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "base/css/bokeh.min.css" %}" rel="stylesheet">
    <link href="{% static "base/css/sweet-alert.css" %}" rel="stylesheet" type="text/css" >
    <link href="{% static "base/css/custom.css" %}" rel="stylesheet" type="text/css" >

    <link href="{% static "base/css/font-awesome.min.css" %}" rel="stylesheet">
    <script src="{% static "base/js/jquery.min.js" %}"></script>

    <!-- Custom styles for this template -->
    <link href="{% static "base/css/dashboard.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
      <script src="{% static "base/js/ie8-responsive-file-warning.js" %}"></script>
      <script src="{% static "base/js/ie-emulation-modes-warning.js" %}"></script>
    <![endif]-->

    {% block extrahead %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MEMEX-EXPLORER</a>
        </div>
        <!-- <div class="navbar-collapse collapse">
          <a class='navbar-brand right' href="#">Projects</a>
          <a class='navbar-brand right' href="#">Apps</a>
          <ul class="nav navbar-nav navbar-right nav-pills">
            <li class="reset"><a href="/reset">Reset Demo</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div> -->
      <div class="dropdown">
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" class="navbar-brand right projects">
            Projects
            <span class="caret"></span>
          </button>
            {% if projects %}
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% for x in projects %}
            <a href="#"><li>{{ x.name }}</li></a>
            {% endfor %}
          </ul>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main">
          <div class="container">
              <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                  {# {% with errors = get_flashed_messages(category_filter=["error"]) %} #}
                {% if errors %}
                <div class="alert alert-dismissible alert-danger" role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  {% for error in errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% endif %}
                {# {% endwith %} #}

                {# {% with warnings = get_flashed_messages(category_filter=["info"]) %} #}
                {% if warnings %}
                <div class="alert alert-dismissible alert-warning" role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  {% for warning in warnings %}
                  {{ warning }}
                  {% endfor %}
                </div>
                {% endif %}
                {# {% endwith %} #}

                {# {% with messages = get_flashed_messages(category_filter=["success"]) %} #}
                {% if messages %}
                <div class="alert alert-dismissible alert-success" role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  {% for message in messages %}
                  {{ message }}
                  {% endfor %}
                </div>
                {% endif %}
                {# {% endwith %} #}
               </div>
              </div>
              </div>

        {% block content %}
        {% endblock content %}
        </div>
      </div>
    </div>
    <footer>
<!--       <ul class="list-inline text-center">
          <li><a href="/contact">Contact</a></li>
          <li><a href="http://continuum.io/careers">Careers</a></li>
          <li><a href="http://continuum.io/blog/">Blog</a></li>
      </ul>
      <a href="http://continuum.io" class="continuum">Powered By</a> -->
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "base/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "base/js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "base/js/bootstrap.min.js" %}"></script>
    <script src="{% static "base/js/bokeh.min.js" %}"></script>
    <script src="{% static "base/js/sweet-alert.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "base/js/ie10-viewport-bug-workaround.js" %}"></script>
    <script src="{% static "base/js/underscore-min.js" %}"></script>
    <script src="{% static "base/js/backbone-min.js" %}"></script>
    <script src="{% static "base/js/app.js" %}"></script>
    {% block extrafooter %}{% endblock %}

  </body>
</html>
