{% extends "base/base.html" %}

{% block content %}

<script>
  $( document ).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% include "base/sidebar.html" %}

<div class='row'>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>{{ project.name }}
    <a href="#TODO">
      <button id="editButton" title="Edit Project" type="button" class="btn btn-control"
      data-container="body"
      data-toggle="tooltip" data-placement="bottom">
      <i class="fa fa-edit"></i>
    </button></a>
  </h1>
  <p>{{ project.description }}</p>
</div>
</div>

<div class='row'>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="col-sm-4">
      <h4>
        <a href="{% url 'base:crawl_space:crawls' slug=project.slug %}">
          <i class="fa fa-search"> &nbsp; </i>Crawls</a>
        &nbsp;&nbsp;&nbsp;
        <a href="{% url 'base:crawl_space:add_crawl' slug=project.slug %}">
          <i class="fa fa-plus-square"></i></a>
      </h4>

      {% if project.crawl_set.all %}
      <ul class="list-group">
        {%  for w in project.crawl_set.all %}
        <li class="list-group-item">
          <a href="{{ w.get_absolute_url }}"><i class="fa fa-search"></i>{{ w.name }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No Crawls Registered.</p>
      {% endif %}
    </div>

    <div class="col-sm-4">
      <h4>
        <a href="#TODO">
          <i class="fa fa-bar-chart"> &nbsp; </i>Crawl Models</a>
        &nbsp;&nbsp;&nbsp;
        <a href="{% url 'base:crawl_space:add_crawl_model' slug=project.slug %}">
          <i class="fa fa-plus-square"></i></a>
      </h4>
        {% if project.crawlmodel_set.all %}
        <ul class="list-group">
          {% for x in project.crawlmodel_set.all %}
          <li class="list-group-item">
            <i class="fa fa-bar-chart"></i>{{ x.name }}
            <form><a class="removeButton"><i class="fa fa-close" style="float:right;font-size:20px;"></i></a></form>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No Crawl Models Registered.</p>
        {% endif %}
      </div>
    </div>

  </div>
<script type="text/javascript">
  $('.removeButton').click(function(){
    swal({
      title: "Are you sure?",
      text: "You will not be able to recover this project!",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: '#DD6B55',
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: "No, cancel!",
      closeOnConfirm: false,
      closeOnCancel: false,
    },
    function(isConfirm){
      if (isConfirm){
        $('<form action="/{{ project.slug }}/delete" method="post"></form>').submit();
      } else {
        swal("Cancelled", "You cancelled the delete process", "error");
      }
    });
  });
</script>
{% endblock %}
