<script type="text/template" id="addSeedsTemplate">
  <form id="addSeedsForm" method="post">
      {% csrf_token %}
      <div id="div_id_name" class="form-group">
          <label for="id_name" class="control-label requiredField">
        Name<span class="asteriskField">*</span>
          </label>
          <div class="controls ">
              <input class="textinput textInput form-control" id="id_name" maxlength="64" name="name" type="text" />
          </div>
          <span class="help-block">
              <strong id="error_id_name" hidden></strong>
          </span>
      </div>
      <div id="div_id_seeds" class="form-group">
        <label for="id_seeds" class="control-label  requiredField">
          Seeds list<span class="asteriskField">*</span>
        </label>
        <div class="controls">
          <input class="clearablefileinput" id="id_seeds" name="seeds" type="file" />
          <span class="help-block">
            <strong id="error_id_seeds" hidden></strong>
          </span>
        </div>
      </div>
      <div id="div_id_textseeds" class="form-group">
        <label for="id_textseeds" id="textseeds_label" class="control-label">
          Or, paste  urls to crawl.
        </label>
        <div id="textseeds_editor">
          <textarea class="textarea form-control" id="id_textseeds" name="textseeds"></textarea>
        </div>
      </div>
      <hr>
      <div class="form-actions row">
        <div class="col-md-2">
            <input type="submit" name="submit" value="Create" class="btn btn-primary" id="submit-id-submit" />
        </div>
        <div class="col-md-2">
            <input type="button" name="cancel" value="Cancel" class="btn btn-primary link-button" id="cancelSubmit" data-dismiss="modal" href="#">
        </div>
      </div>
  </form>
</script>


<script type="text/template" id="seedsItem">
    <div class="col-lg-2 col-md-3 seeds-tab">
        <div class="panel panel-seeds">
            <div class="panel-heading">
                <a href="<%= url %>" class="create-seeds">
                <div class="row">
                    <div class="col-md-12 color-set seeds-margin">
                        <p><%= name %></p>
                    </div>
                </div>
                </a>
            </div>
            <div class="panel-footer seeds-buttons">
                <div class="col-md-6 color-set">
                    <form method="get" style="display:inline;">
                        <input type="hidden" name="request" value="seeds">
                        <input type="hidden" name="id" value="<%= id %>">
                        <button title="Get Seeds List" id="getInitialSeeds" class="fa fa-download no-style-btn download-seeds"
                        data-container="body" data-toggle="tooltip" data-placement="bottom">
                        </button>
                    </form>
                </div>
                <div class="col-md-6 color-set">
                    <form id="delete_seeds_<%= id %>" action="" method="post">
                      {% csrf_token %}
                      <a href="#"><button class="fa fa-trash no-style-btn delete-seeds" type="submit"></button></a>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="crawlFormSeeds">
    <option value="<%= id %>"><%= name %></option>
</script>


<script type="text/template" id="editSeedsTemplate">
  <form id="editSeedsForm" method="post">
      {% csrf_token %}
      <div class="form-actions row">
        <div class="col-md-6">
          <h1>Edit: {{ seedslist.name }}</h1>
        </div>
        <div class="col-md-6">
            <input type="submit" name="submit" value="Save" class="btn btn-primary save-seeds" id="submit-id-submit" />
            <button type="button" id="reset" class="btn btn-primary save-seeds">Reset</button>
        </div>
     </div>
      <div id="div_id_textseeds" class="form-group">
        <label for="id_textseeds" class="control-label">
        </label>
        <div class="controls ">
          <textarea id="id_seeds" name="seeds"></textarea>
        </div>
      </div>
  </form>
</script>


<script type="text/template" id="trailHead">
    <div class="row">
        <div class="col-md-8">
            <h3>Trails</h3>
        </div>
    </div>
    <div class="row">
        <div id="trails"></div>
    </div>
</script>


<script type="text/template" id="trailItem">
    <div class="col-lg-3 col-md-4" data-toggle="modal" data-target="#trailModal">
        <div class="panel panel-trails trails-hover">
            <div class="panel-heading">
                <div class="row">
                <input type="hidden" value="<%= id %>">
                    <div class="col-md-12 color-set seeds-margin">
                        <p>Trail: <%= id %></p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-6">
                  <p>Domain: <%= domain_name %></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="trailFormBody">
    <div class="modal fade" id="trailModal" tabindex="-1" role="dialog" aria-labelledby="trailModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="trailModalLabel">Create Seeds From Trail</h4>
                </div>
                <form id="trailForm" method="post">
                    {% csrf_token %}
                    <div id="div_id_seedsname" class="form-group">
                        <label for="id_seedsname" class="control-label requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <div class="controls ">
                            <input class="textinput textInput form-control" id="id_seedsname" maxlength="64" name="seedsname" type="text" />
                        </div>
                        <span class="help-block">
                            <strong id="error_id_seedsname" hidden></strong>
                        </span>
                    </div>
                    <hr>
                    <div class="form-actions row">
                      <div class="col-md-2">
                          <input type="submit" name="submit" value="Create" class="btn btn-primary" id="submit-id-submit" />
                      </div>
                      <div class="col-md-2">
                          <input type="button" name="cancel" value="Cancel" class="btn btn-primary link-button" id="cancelSubmit" data-dismiss="modal" href="#">
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
