@mixin gradient($topColor, $bottomColor) {
	background: $topColor; /* Old browsers */
	background: -moz-linear-gradient(top,  $topColor 0%, $bottomColor 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$topColor), color-stop(100%, $bottomColor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $topColor 0%, $bottomColor 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $topColor 0%, $bottomColor 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $topColor 0%, $bottomColor 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $topColor 0%, $bottomColor 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$topColor', endColorstr='$bottomColor',GradientType=0 ); /* IE6-9 */

}

@mixin noFont {
	color: transparent;
	font-size: 0;
}


@mixin boxShadow($args) {
	box-shadow: $args;
	-moz-box-shadow: $args;
	-webkit-box-shadow: $args;
}
