{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Project{% endblock %}

{% block content %}

<div class='row'>
	<div class="col-md-offset-2 col-md-2">
          <ol class="breadcrumb">
            <li> <a href="/"> / My Projects / </a></li> Add Project
          </ol>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 main">
        <div class="center">
            <h1>Add Project</h1>
            {% crispy form %}
        </div>
    </div>
</div>

{% endblock %}
