{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Add Index{% endblock %}

{% block extrafooter %}
    <script src="{% static 'base/js/ajax.js' %}"></script>
    <script src="{% static 'base/js/upload_ajax.js' %}"></script>
{% endblock %}

{% block content %}

{% include "base/sidebar.html" %}

<div class='row'>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 main">
        <div class="center">
            <h1>Add Index</h1>
            {% crispy form %}
        </div>
    </div>
</div>

{% endblock %}
