{% extends "base/base.html" %}

{% block title %}{{seedslist.name}}{% endblock %}

{% load static %}

{% block extrahead %}
    <link href="{% static 'base/css/codemirror.css' %}" rel="stylesheet">
{% endblock %}

{% block extrafooter %}
    <script src="{% static 'base/js/ajax.js' %}"></script>
    <script src="{% static 'base/js/codemirror-compressed.js' %}"></script>
    <script src="{% static 'base/js/backbone/base_views.js' %}"></script>
    <script src="{% static 'base/js/backbone/seeds.js' %}"></script>
    <script src="{% static 'base/js/backbone/edit_seeds_backbone.js' %}"></script>
{% endblock %}

{% block content %}
<div class='row'>

  <div class="col-md-offset-1 col-md-10">
    <ol class="breadcrumb">
      <li><a href="/seeds"> / Seeds / </a></li> {{ seedslist.name }}
    </ol>
  </div>
  <div class="col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-4">
    <div id="seedsSuccess" class="alert alert-success alert-dismissible" role="alert" hidden>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Seeds list successfully saved.
    </div>
  </div>
  <div class="col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-4">
    <div id="seedsFailure" class="alert alert-danger alert-dismissible" role="alert" hidden>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      There were invalid URLs in your seeds list.
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <input id="seeds_pk" type="hidden" value="{{ seedslist.id }}">
    <div id="seeds"></div>
  </div>
<script>

</script>

</div>
{% include "base/underscore_templates/underscore_templates.html" %}
{% include "base/underscore_templates/seeds_underscore.html" %}
{% include "base/underscore_templates/crawls_underscore.html" %}
{% endblock %}
