{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class='inner'>
    <div class="row">
        <div class="col-md-8">
            <h3>MY PROJECTS</h3>
        </div>
        <div class="col-md-4 search-bar">
            <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control search" placeholder="Search for projects here">
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="panel panel-project">
                <a href="{% url 'base:add_project' %}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <p>New Project</p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% for project in projects %}
        <div class="col-lg-3 col-md-4 project-tab">
            <div class="panel panel-project">
                <div class="panel-heading">
                <a href="{% url 'base:project' project_slug=project.slug %}" style="text-decoration:none;">
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ project.name }}</p>
                        </div>
                        <!--div class="col-xs-9 text-right">
                            <i class="fa {{project.icon}} fa-3x"></i>
                        </div-->
                    </div>
                </div>
                    <div class="panel-footer">
                        <p>{{ project.description }}</p>

                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
