{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block extrafooter %}
    <script src="{% static 'base/js/ajax.js' %}"></script>
    <script src="{% static 'base/js/forms/form_ajax.js' %}"></script>
    <script src="{% static 'base/js/forms/crispy_form_errors.js' %}"></script>
    <script src="{% static 'base/js/forms/project_submit.js' %}"></script>
{% endblock %}

{% block content %}
<div class='inner'>
    <div class="row">
        <div class="col-md-8">
            <h3>MY PROJECTS</h3>
        </div>
        <div class="col-md-4 search-bar">
            <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control search filterinput" placeholder="Search for projects here">
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="panel panel-project">
                <a href="{% url 'base:add_project' %}">
                <div class="panel-heading">
                    <div class="row color-set">
                        <div class="col-xs-3">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right" data-toggle="modal" data-target="#newProjectModal">
                            <p>New Project</p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% for project in projects %}
        <div class="col-lg-3 col-md-4 project-tab">
            <div class="panel panel-project">
                <div class="panel-heading">
                <a href="{% url 'base:project' project_slug=project.slug %}" style="text-decoration:none;">
                    <div class="row">
                        <div class="col-md-12 color-set">
                            <p>{{ project.name }}</p>
                        </div>
                        <!--div class="col-xs-9 text-right">
                            <i class="fa {{project.icon}} fa-3x"></i>
                        </div-->
                    </div>
                </div>
                    <div class="panel-footer">
                        <p>{{ project.description }}</p>

                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--
    modal for upload project

    <div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Project</h4>
                </div>
                <div class="modal-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>

    -->
</div>
<script type="text/javascript">
/* simple project name search implementation */
    $('.filterinput').keyup(function () {
        var a = $(this).val();
        if (a.length > 0) {
            children = ($(".project-tab").children());
            children.parent().css("min-height", "200px");
            var containing = children.filter(function () {
                var regex = new RegExp('\\b' + a, 'i');
                return regex.test($('p', this).text());
            }).slideDown();
            children.not(containing).slideUp();
            children.not(containing).parent().css("min-height", "0");
        } else {
            children.slideDown();
        }
        return false;
    });
</script>
{% endblock %}
