{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Project{% endblock %}

{% block content %}

<div class='row'>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 main">
        <div class="col-sm-6">
            <h1>Edit Project</h1>
        </div>
        <div class="col-sm-6">
          <form style="
              display:inline;
              float:right;
              margin-top:20px;
              margin-bottom:10px;
              background:none;
            "
            action="{% url 'base:delete_project' project_slug=project.slug %}"
            method="post" onSubmit="return confirm('Are you sure you want to delete this project?')">
            {% csrf_token %}
            <button
                class="fa fa-trash-o btn btn-control"
                style="
                    font-size:32px;
                "
                type="submit">
            </button>
        </form>
        </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 main">
        <div class="center">
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}

{% load staticfiles %}

{% block extrahead %}
    <link href="{% static 'base/css/update.css' %}" rel="stylesheet">
{% endblock %}
