{% extends "base/base.html" %}

{% block title %}TAD{% endblock %}

{% load static %}

{% block extrafooter %}
    <script src="{% static 'base/js/ajax.js' %}"></script>
    <script src="{% static 'base/js/tad.js' %}"></script>
    <script src="{% static 'base/js/bokeh.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/js/jquery-ui.css' %}">
    <script src="{% static 'base/js/jquery-ui.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}

{% block content %}
{% include "base/sidebar.html" %}
<div class='row'>
  <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 main">
    <h1>Temporal Anomaly Detector</h1>
    <div id="response" style="padding:4px; border: solid 1px black;">No query run.</div>
    <div id="raw-response" style="padding:4px; border: solid 1px black; overflow-y: scroll; height: 150px;"></div>
    <div id="task-id" style="display: none;"></div>
    <br />
    <div style="padding: 4px; border: solid 1px black;">
      <table style="border: none; width: 100%" cellpadding="10">
        <tr><td width="150">Analysis start date:</td><td><input style="width: 100%" type="text" id="analysis-start-date" /></td></tr>
        <tr><td>Analysis end date:</td><td><input style="width: 100%" type="text" id="analysis-end-date" /></td></tr>
        <tr><td>Target filters:</td><td><input style="width: 100%" type="text" id="target-filters" /></td></tr>
        <tr><td>Baseline filters:</td><td><input style="width: 100%" type="text" id="baseline-filters" /></td></tr>
        <tr><td>Constant baseline:</td><td><input type="checkbox" id="constant-baseline" /></td></tr>
        <tr><td>Index:</td><td><input style="width: 100%" type="text" id="index" /></td></tr>
        <tr><td>Time Field:</td><td><input style="width: 100%" type="text" id="time-field" /></td></tr>
        <tr><td colspan="2" style="align: center"><button class="btn btn-default btn-duo center link-button" id="run-detector" style="float:right;">Run Detector</button></td></tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
