<script type="text/template" id="crawlTableItem">
    <tr>
      <td><a href="<%= url %>"><%= name %></a></td>
      <td>0</td>
      <td>NOT STARTED</td>
      <td>
        <i class="fa fa-pencil"></i>&nbsp;
        <i class="fa fa-trash"></i>&nbsp;
        <i class="fa fa-pie-chart">&nbsp;</i>
      </td>
      <td>
          <button class="btn btn-success btn-xs">Launch</button>
      </td>
    </tr>
</script>

<script type="text/template" id="crawlFormModel">
    <option value="<%= id %>"><%= name %></option>
</script>
