{% for project in projects %}
    {% for app in apps %}
{{ project.slug }}_{{ app.name }}:
    build: {{ app.dockerfile }}
    command: {{ app.command }}
    {% if app.volumes %}
    volumes:
        {% for located_at, mounted_at in app.volumes %}
      - {{ located_at }}:{{ mounted_at }}
        {% endfor %}
    {% endif %}
    expose:
    {% for port in app.expose %}
      - {{ port }}
    {% endfor %}
  {% endfor %}
{% endfor %}

