{% extends "base.html" %}
{% set active_page = "compare" %}
{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h3>{{ image }}</h3>
  <div class="row vertical-align clear-bottom">
    <div class="col-xs-7">
      <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
      <img src="{{ url_for('uploaded', image=image) }}" class="img-responsive" alt="Generic placeholder thumbnail">
    </div>
    <div class="col-xs-5">
      <div>
        <!-- <dl class="dl-horizontal"> -->
        <dl>
          {% for key, value in exif_info.iteritems() %}
          <dt>{{ key }}</dt>
          <dd>{{ value }}</dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>

{% if internal_matches %}
  <h3>Matched Images from Crawl</h3>
  <div class="row">
    {% for img in internal_matches %}
    <div class="col-xs-6 col-sm-3">
     <img src="{{ url_for('static', filename = img[0]) }}" height="200" width="200" class="thumnail" alt="{{ img[1] }}">
     <h4><a href="{{ url_for('compare', image=img[1]) }}">{{ img[1] }}</a></h4>
   </div>
  {% endfor %}
</div>
{% endif %}

{# {% if external_matches %}
  <h3>Matched Images from Stolen Camera Finders</h3>
  <div class="row">
  {% for img in external_matches %}
       <div class="col-xs-6 col-sm-3">
        <img src="{{ url_for('static', filename = img[0]) }}" height="200" width="200" class="thumnail" alt="{{ img[1] }}">
        <h4>{{ img[1] }} <small>(from {{ img[2] }})<small></h4>
      </div>
  {% endfor %}
  </div>
{% endif %} #}

{% endblock content %}
