

/* Index page - project panels style */

.panel-project {
    background-color:#1D4971;
}

.panel-project>.panel-heading {
color: #fff;
background-color: #1D4971;
border-color: #1D4971;
}

.panel-project>a>.panel-heading {
color: #fff;
background-color: #1D4971;
border-color: #1D4971;
}

.panel-project>.panel-footer.p {
color: black;
}

/* Index page - app icons style */

.app-icon, .app-icon:hover, .app-icon:active, .app-icon:focus {
  color: #1D4971;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  outline: none;
}
.app-icon {
  position: relative;
  display: block;
  height:100px;
  width:120px;
  border-radius:15px;
  background-color: #eee;
  opacity:0.9;
  overflow: hidden;
  margin-bottom:5px;
}
.app-icon .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}
.app-icon .rotate i {
  position: absolute;
  left: 0;
  left: auto;
  right: 0;
  bottom: 0;
  display: block;
  height: 65px;
  font-size: 50px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  text-shadow:1px 0 #ddd;
}
.app-icon i,.app-icon:hover i,.app-icon:active i,.app-icon:focus i {
  color: #1D4971;
}
.app-icon .more {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25) !important;
  text-shadow: none;
}
.app-icon .details {
  position: relative;
  z-index: 10;
  float: left;
  margin-top: -10px;
  text-align: left;
}
.app-icon .title {
  display: block;
  margin-bottom: 1em;
  font-size: 13px;
  text-transform: uppercase;
}
.app-icon .sub {
  display: block;
  font-size: 32px;
}

/* Crawl page - control buttons style */

.btn-control{
    background-color: #eee;
    color: #1D4971;
}

/* Crawl page - controls buttons style */
.controls{
    padding-left: 40px;
}