{% for container in containers %}
{{ container.slug }}:
    {% if container.image %}
    image: {{ container.app.image }}
    {% else %}
    build: {{ container.app.build }}
    {% endif %}
    command: {{ container.app.command }}
    {% if container.app.volumes %}
    volumes:
    {% for volume in container.app.volumes %}
      - {{ volume.located_at }}:{{ volume.mounted_at }}
    {% endfor %}
    {% endif %}
    {% if container.app.ports %}
    ports:
    {% for port in container.app.ports %}
      - "{{ port.internal_port }}"
    {% endfor %}
    {% endif %}
    {% if container.app.external_links %}
    links:
    {% for link in container.app.links %}
      - {{ to_app.name }}:{{ alias }}
    {% endfor %}
    {% endif %}
    {% if container.app.environment_variables %}
    environment:
    {% for var in container.app.environment_variables %}
      - {{ var.name }}={{ var.value}}
    {% endfor %}
    {% endif %}

{% endfor %}

