server {
    listen 80;
    server_name {{ hostname }} {{ ip_addr }};

    location / {
        proxy_pass http://0.0.0.0:{{ root_port }}/;
    }
}

{% for container in containers %}
server {
    listen 80;
    server_name {{ hostname }} {{ ip_addr }};

    location {{ container.public_urlbase }} {
        rewrite {{ container.public_urlbase }}/(.*) /$1 break;
        proxy_pass          http://0.0.0.0:{{ container.high_port }}/;
        proxy_redirect      off;
        proxy_set_header    Host $host;
    }
}
{% endfor %}
