server {
    listen 80;
    server_name {{ hostname }} {{ ip_addr }};

    location / {
        proxy_pass http://0.0.0.0:{{ root_port }}/;
    }
}

{% for container in containers %}
server {
    listen 80;
    server_name {{ hostname }};

    location / {
        proxy_pass http://0.0.0.0:{{ container.high_port }}/;
    }
}
{% endfor %}
