server {
    listen 80;
    server_name {{ hostname }} {{ ip_addr }};

    location / {
        proxy_pass http://0.0.0.0:{{ root_port }}/;
    }

    location /static/ {
        rewrite ^/static/(.*)$ /$1 break;
        root {{ static_root }}/;
    }

{% for container in containers %}

    location {{ container.public_urlbase }} {
        rewrite {{ container.public_urlbase }}/(.*) /$1 break;
        proxy_pass          http://0.0.0.0:{{ container.high_port }}/;
        proxy_redirect      off;
        proxy_set_header    Host $host;
    }
{% endfor %}
}
