@import "mixins.scss";

/* Base structure */
/* Move down content because we have a fixed navbar that is 50px tall */

$headerHeight: 50px;
$footerHeight: 170px;

body {
  padding-top: $headerHeight;
}

/* Global add-ons */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.vertical-align {
  display: flex;
  align-items: center;
}

/* Top navigation
 * Hide default border to remove 1px line. */

.navbar-fixed-top {
  border: 0;
  background-color: #1d4971;
  @include boxShadow(0px 3px 8px rgba(0,0,0, .5));
  a.navbar-brand {
    color: white;
  }
  li.reset {
    background-color: #222222;
    a {
      color: #fff;
      text-transform: uppercase;
    }
  }
}

/* Sidebar */
/* Hide for mobile, show later */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
  //  margin-bottom: $footerHeight;
  //  z-index: 10;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: whitesmoke;
    border-right: 1px solid #eeeeee;
  }
}

/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  padding: 0 0 0 20px;
  > {
    li > a {
      padding-right: 20px;
      padding-left: 20px;
    }
    .active > a {
      color: white;
      background-color: #428bca;
      &:hover, &:focus {
        color: white;
        background-color: #428bca;
      }
    }
  }
}

/* Main content */
html {
  height: 100%;
  body {
    height: 100%;
    .container-fluid {
      min-height: 100%;
      height: auto !important;
      margin: 0 auto;
    }
  }
}
.main {
  padding: 20px;
  .page-header {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* Footer */

footer {
  &:after {
    content: " ";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 20;
    @include boxShadow(0px -5px 10px rgba(0,0,0, .5))
  }
  position: relative;
  @include gradient(#2d3e55, #18273f);
  height: $footerHeight;
  width: 100%;
  ul.list-inline {
    padding: 25px 0 10px 0;
    > li {
      padding: 0 15px;
    }
  }
  a.continuum {
    display: block;
    height: 90px;
    background-repeat: no-repeat;
    background-image: url("../images/continuum-logo.png");
    background-position: center bottom;
    color: #fff;
    text-align: center;
  }
}
/* Placeholder dashboard ideas */

.clear-bottom {
  margin-bottom: 20px;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
  h4 {
    margin-bottom: 0;
  }
}

.placeholder {
  margin-bottom: 20px;
  img {
    display: inline-block;
    border-radius: 50%;
  }
}

/* Bootstrap overrides */

.dl-horizontal dt {
  white-space: normal;
}

/* Fonts */

body {
  font: 14px / 1.431 "Lato" sans-serif;
  *font-size: normal;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0em;
  text-transform: uppercase;
}

h1, h2, h3 {
  //padding: 20px 0 10px 0;
  font-weight: 700;
}

h4, h5, h6 {
  //padding: 12px 0 8px 0;
  font-weight: 400;
}
h2.datasource-name {

}
h3.available-dashboards {
  margin: 40px 0 10px 0;
}
/* Data Styling */

div.data-sample {
  max-width: 100%;
  overflow-x: scroll;
}
div:not(.bk-plot-wrapper) > {
  table {
    margin: 20px 0 30px 0;
    border: 1px solid #333333;
    border-collapse: collapse;
    &.dataframe {
      thead tr:nth-child(1) {
        background: #efefef;
      }
      th, td {
        text-align: center;
      }
    }
    &.datasource-details {
      tr:nth-child(1) {
        background: #efefef;
      }
    }
    tr {
      border: 1px solid #333333;
    }
    th, td {
      padding: 3px 10px;
      border: 1px solid #333333;
    }
  }
}


/* Buttons */

.btn-default, .btn-primary, .btn-danger {
  display: block;
  @include boxShadow(3px 3px 5px 0px rgba(0, 0, 0, .55));
  border: none;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding: 0 !important;
  a {
      color: inherit !important;
      text-transform: inherit !important;
      display: inline-block;
      padding: 6px 12px;
  }
  &.btn-duo {
    float: left;
    margin-right: 20px;
  }
  &:hover {
    a {
      text-decoration: none;
    }
  }
}
.btn-default, .btn-primary {
  @include gradient(#5779A8, #415A7D);
  color: #fff;
  &:hover {
    @include gradient(#47658B, #324764);
    color: #fff;
  }
}
.btn-danger, .cancel {
  @include gradient(#d9534f, #BC4743);
  color: #000;
  &:hover {
    @include gradient(#AB413D, #8A3431);
    color: #000;
  }
}
form {
  .btn-primary, .btn-default {
    padding: 6px 12px !important; // styling for true buttons that don't contain anchors
  }
}

.btn-padded {
  padding: 6px 12px !important; // styling for true buttons that don't contain anchors
}


.sweet-alert {
  .btn-default, .btn-primary {
    float: left;
    padding: 6px 12px !important;
    margin: 10px 35px;
  }
}
