{% extends "base.html" %}

{% block content %}
<div class='inner'>

<div class="page-header">
    <h1 style='text-align: center;'>About Memex Explorer</h1>
</div>

    <div class="jumbotron" style="font-family:verdana; font-size:150%;">
    <H2>Who is this built for?</H2>

    <p>
        This web application is collaborative effort to bring state-of-the-art search engine tools
        to wider usage. The intent is to give researchers, analysts, and domain experts the ability
        work together to create better domain search tools. The application does this by focusing on providing interfaces that are customizable for our users, allowing dashboards to be customized for particular domains. Below are three different use cases to describe this goal in more detail.
    </p>

     <h3>Use Case #1: Researcher studies algorithms</h3>
     <p>
        A researcher, Abby, is developing crawling and extraction algorithms. She needs to show how different crawls at different times are affecting the results. Furthermore, she wants to monitor how well her algorithms are doing during the crawl, so if things are completely wrong Abby is able to stop the crawl and fix the issue. Finally, Abby needs to set up crawlers and extractors, her code is working but currently a pretty manual process. To help build the crawlers and extractors, she needs to be able to connect to the existing examples but also have a visual crawl builder.
    </p>

     <h3>Use Case #2: Analyst studies data from researchers</h3>
        <p>
        An analyst, Juan, is looking for new leads for possible Human Trafficking victims. He has three different crawlers, all from researchers with different crawling strategies. He wants to start these crawlers and see which parts of the web they are migrating to and how quickly they are getting relevant pages.  Finally, Juan would like to build visualizations for his team showing where victims are coming from, the rates of leads, and produce a top ten list of the best leads
        </p>
      <h3>Use Case #3: Investigator wants to find a person</h3>
        <p>
An investigator, Jada, is searching for a victim. She has been given some images that match a victim from a popular escort site. Jada wants to search for similar images and find other details about where those images are coming from. With the data from Juan that was indexed, Jada uploads her image and starts to find similar images, cameras linked to those images, web pages and phone numbers linked to those web pages.
        </p>
    </div>

    <div class="jumbotron" style="font-family:verdana; font-size:150%;">
    <H2>Team</H2>
        <ul>
            <li><a href="http://continuum.io">Continuum Analytics</a>- developers of Web Application</li>
            <li><a href="http://engineering.nyu.edu/user/4254">NYU - Friere Group</a>- developers of ACHE Focused crawler</li>
            <li><a href="http://sunset.usc.edu/~mattmann/"">NASA JPL - Mattman Group</a>- developers of Nutch crawler</li>
        </ul>
    </div>

    <div class="jumbotron" style="font-family:verdana; font-size:150%;">
    <H2>Funding</H2>
        <p>This project has been funded by the following:</p>
        <ul>
            <li><a href="http://www.darpa.mil/newsevents/releases/2014/02/09.aspx">DARPA Memex Project</a></li>
        </ul>
    </div>

    <div class="jumbotron" style="font-family:verdana; font-size:150%;">
    <H2>Open Source</H2>
    <p>
        Memex Explorer is an open source project that uses many other open source projects. This has been a stated goal of the project from the outset, including requirements of the DARPA Memex Project. The code running the web application is licensed using the liberal <a href="http://opensource.org/licenses/BSD-2-Clause">BSD license</a>. Because some dependencies may require a <a href="http://opensource.org/licenses/gpl-license">GPL License</a> or <a href="http://opensource.org/licenses/Apache-2.0">APLv2 License</a>, many instances of the web application are governed under the more restrictive GPL requirements. Below is a list of components and links to their source, for a full list please see the Memex Explorer source.
    </p>
        <ul>
            <li><a href="https://github.com/ContinuumIO/memex-explorer">Memex Explorer</a>: BSD Licensed</li>
            <li><a href="https://github.com/ContinuumIO/ache">Ache - focus crawler</a>: GPL Licensed</li>
            <li><a href="http://nutch.apache.org/">Nutch crawler</a>- APLv2 Licensed</li>
        </ul>
    </div>
 </div>

{%  endblock %}
