{% extends "base.html" %}

{% block content %}
{% include 'sidebar.html' %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h3>{{ image.filename }}</h3>
  <div class="row vertical-align clear-bottom">
    <div class="col-xs-7">
      <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    {% if image.uploaded == 1 %}
      <img src="{{ url_for('uploaded_image', image_name=image.filename) }}"
           class="img-responsive" alt="Generic placeholder thumbnail">
    {% else %}
      <img src="{{ url_for('image_source', image_directory= image.image_space.id, image_name=image.filename) }}"
           class="img-responsive" alt="Generic placeholder thumbnail">
    {% endif %}
    </div>
    <div class="col-xs-5">
      <div>
        <dl>
          {% for key, value in exif_info.iteritems() %}
          <dt>{{ key }}</dt>
          <dd>{{ value }}</dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>

{% if internal_matches %}
  <h3>Matched Images from Crawl</h3>
  <div class="row">
    {% for img in internal_matches %}
    <div class="col-xs-6 col-sm-3">

    {% if img.uploaded == 1 %}
    <a href="{{ url_for('compare', project_slug=project.slug, image_name=img.filename) }}"><
      <img src="{{ url_for('uploaded_image', image_name=img.filename) }}"
        data-id="{{ img.id }}"
        data-match="{{ img.match }}"
        alt="{{ img }}"
        height="200" width="200"
        class="thumbnail"></a>
    {% else %}
      <a href="{{ url_for('compare', project_slug=project.slug, image_name=img.filename) }}">
      <img src="{{ url_for('image_source', image_directory= img.image_space_id, image_name=img.filename) }}"
        alt="{{ img.filename }}"
        height="200" width="200"
        class="thumbnail"></a>
    {% endif %}

   </div>
  {% endfor %}
</div>
{% endif %}


{% endblock content %}

</div>