{% extends "base.html" %}
{% set active_page = "compare" %}


{%- block extrahead %}
<script>
$( document ).ready(function() {

  function set_match(source_id, match_id, match) {
    $.ajax({
      url: "/api/image_match/",
      type: "POST",
      data: {
        source_id: source_id,
        match_id: match_id,
        match: match
      },
      success: function(response) {
        console.log(response);
      },
      timeout: 2000
    });
  }

  $('.thumbnail').on('click', function(){
    var source_id = {{ image.id }};
    var match_id = $(this)[0].dataset.id;
    var match = true;
    set_match(source_id, match_id, match);
  });

});

</script>

{% endblock %}


{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h3>{{ image }}</h3>
  <div class="row vertical-align clear-bottom">
    <div class="col-xs-7">
      <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
      <img src="{{ url_for('image_source', image_id=image.id) }}" class="img-responsive" alt="Generic placeholder thumbnail">
    </div>
    <div class="col-xs-5">
      <div>
        <dl>
          {% for key, value in exif_info.iteritems() %}
          <dt>{{ key }}</dt>
          <dd>{{ value }}</dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>

{% if internal_matches %}
  <h3>Matched Images from Crawl</h3>
  <div class="row">
    {% for img in internal_matches %}
    <div class="col-xs-6 col-sm-3">
      <img src="{{ url_for('image_source', image_id = img.id) }}"
        data-id="{{ img.id }}"
        data-match="{{ img.match }}"
        alt="{{ img }}"
        height="200" width="200"
        class="thumbnail">
     <h4><a href="{{ url_for('compare', project_name=project.name, image_id=img.id) }}">{{ img }}</a></h4>

   </div>
  {% endfor %}
</div>
{% endif %}

{# {% if external_matches %}
  <h3>Matched Images from Stolen Camera Finders</h3>
  <div class="row">
  {% for img in external_matches %}
       <div class="col-xs-6 col-sm-3">
        <img src="{{ url_for('static', filename = img[0]) }}" height="200" width="200" class="thumnail" alt="{{ img[1] }}">
        <h4>{{ img[1] }} <small>(from {{ img[2] }})<small></h4>
      </div>
  {% endfor %}
  </div>
{% endif %} #}

{% endblock content %}
