{% extends "base.html" %}

{% block content %}

  <h2>Contact Continuum</h2>

  <form class="form-horizontal col-sm-9" action="" method="post" name="register">
      {{form.hidden_tag()}}

      <!-- Name -->
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" placeholder="Name" id="name" name="name">
        </div>
        {% for error in form.errors.name %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
     </div>

     <!-- Email -->
     <div class="form-group">
        <label for="Email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" placeholder="Email" id="email" name="email">
        </div>
        {% for error in form.errors.email %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
     </div>

     <!-- Issue -->
     <div class="form-group">
          <label class="col-sm-2 control-label">Issue</label>
          <div class="col-sm-10">
             {{form.issue(class_="form-control")}}
          </div>
            {% for error in form.errors.issue %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
     </div>

     <!-- Description -->
     <div class="form-group">
        <label for="description "class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
           <textarea class="form-control" placeholder="Please describe your issue/request with as much detail as possible." id="description" name="description"></textarea>
        </div>
        {% for error in form.errors.description %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" align="center">
           <button type="submit" class="btn btn-primary">Submit</button>
        </div>
     </div>

  </form>

  <div class="col-sm-3">
  </div>

{% endblock %}