{% extends "base.html" %}
{% set active_page = "overview" %}

{% block content %}

<h2 class="datasource-name">{{datasource.name}}</h2>

{% include 'data_header.html' %}

<h3>Data shape:</h3>
<div>
    <pre>{{dshape}}</pre>
</div>

<h3>Fields:</h3>
<div>
    <pre>{{fields}}</pre>
</div>

<h3>Sample:</h3>
<div class="data-sample">
{{ sample|safe }}
</div>

<button type="button" class="btn btn-default">
  <a href="/data/{{datasource.endpoint}}/dashboard">Add Dashboard</a>
</button>

<h3>Add a Dashboard:</h3>
<script src="{{ url_for('static', filename="js/source_form_check.js") }}"></script>

  <form class="form-horizontal col-sm-9" action="" method="post" name="add"  enctype="multipart/form-data">
    {{form.hidden_tag()}}
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" placeholder="Dashboard name" id="name" name="name">
        </div>
        {% for error in form.errors.name %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
      </div>

      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" placeholder="description" id="description" name="description">
        </div>
        {% for error in form.errors.description %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Plot</label>
        <div class="col-sm-4">
           {{form.plot(class_="form-control")}}
        </div>
        <div class="col-sm-2">
        {% for error in form.errors.plot %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
        </div>
      </div>

      <div class="form-group">
        <label for="column_name_x" class="col-sm-2 control-label">Column name X</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" placeholder="datetime column(for timeseries), longitude(for map)" id="column_name_x" name="column_name_x">
        </div>
        {% for error in form.errors.column_name_x %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
      </div>

      <div class="form-group">
        <label for="colum_name_y" class="col-sm-2 control-label">Column name Y</label>
        <div class="col-sm-10">
           <input type="text" class="form-control" placeholder="y value(for timeseries), latitude(for map)" id="column_name_y" name="column_name_y">
        </div>
        {% for error in form.errors.column_name_y %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
      </div>

      <div class="form-group">
        <label for="upload_file" class="col-sm-2 control-label">Upload IPython Notebook</label>
        <div class="col-sm-10">
           <input value=Upload class="form-control" placeholder="Upload IPython Notebook" id="upload_file" type=file name=upload_file>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9" align="center">
           <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>

  </form>

  <div class="col-sm-3">
  </div>


{% endblock content %}
