{% extends "base.html" %}
{% set active_page = "overview" %}

{%- block extrahead %}
<script>
$( document ).ready(function() {



    $('#reload').on('click', function(){
        $.ajax({
          type: "POST",
          url: "/{{ project.name }}/crawls/{{ crawl.name }}/refresh",
          success: function() {console.log('success')}
        });
    });

});

</script>

{% endblock %}


{% block content %}

{% include 'sidebar.html' %}

<div class='row'>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% if plots[0] %}
        {% for x in plots %}
            <div class='col-sm-4'>
                <!-- In plot_hack branch was x instead of x.plot?-->
                {{ x | safe }}
            </div>
        {% endfor %}
        {% else %}
        <h1>There are no plots to show.</h1>
       {% endif %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!-- <button type="button" id="reload" class="btn btn-primary">Refresh</button> -->
            <button type="button" id="reload">Refresh</button>
        </div>
    </div>
</div>

{% endblock content %}