{% extends "base.html" %}
{% set active_page = "overview" %}

{% block content %}

<h2>Delete Dashboard</h2>

<h2>Name: {{dashb.name}}</h2>
<p><b>URI:</b> {{dashb.uri}}</p>
<p><b>Description:</b> {{dashb.description}}</p>

<div class="delete">
<button type="button" class="btn btn-danger">Delete Dashboard</button>
</div>

<script type="text/javascript">
    document.querySelector('div.delete button').onclick = function(){
    swal({
        title: "Are you sure?",
        text: "You will not be able to recover this dashboard!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: '#DD6B55',
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: "No, cancel!",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm){
    if (isConfirm){
      $.post("{{url_for('dashboard_delete', data_endpoint = datasource.endpoint, dash_endpoint = dashb.endpoint)}}");
      swal("Deleted!", "Your dashboard has been removed!", "success");
      $.post("{{url_for('index')}}");
    } else {
      swal("Cancelled", "Your dashboard is safe :)", "error");
    }
    });
};
</script>

{% endblock content %}