{% extends 'base.html' %}
{% block flash %}
<div class="container">
      {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% if errors %}
      <div class="alert alert-dismissible alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {% for error in errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      {% with warnings = get_flashed_messages(category_filter=["info"]) %}
      {% if warnings %}
      <div class="alert alert-dismissible alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {% for warning in warnings %}
        {{ warning }}
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      {% with messages = get_flashed_messages(category_filter=["success"]) %}
      {% if message %}
      <div class="alert alert-dismissible alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
</div>

{% endblock flash %}