{% extends "base.html" %}

{% block content %}

{% include 'sidebar.html' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Images Table</h1>

          <div class="table-responsive">
            <table id="image_table" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>img_file</th>
                  <th>EXIF_LSN <span class="glyphicon glyphicon-sort"></span></th>
                  <th>MakerNote_SNF <span class="glyphicon glyphicon-sort"></span></th>
                  <th>EXIF_BSN <span class="glyphicon glyphicon-sort"></span></th>
                  <th>MakerNote_ISN <span class="glyphicon glyphicon-sort"></span></th>
                  <th>MakerNote_SN <span class="glyphicon glyphicon-sort"></span></th>
                  <th>Image_BSN <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
              </thead>
              <tbody>

              {% for image in images %}
                <tr>
                  <td><a href="{{ url_for('compare', image_name=image.img_file, project_slug=project.slug) }}">
                      <img src="{{ url_for('image_source', image_directory=image.img_dir, image_name=image['img_file']) }}"
                           height="75" width="75" class="thumbnail" alt="{{ image['img_file'] }}"></a>
                       <form style='margin:0;padding:0;'>
                       <button formmethod='post' formaction="{{ url_for('delete_image', project_slug=project.slug, image_space_slug=image_space.slug, image_name=image.img_file) }}" type='submit' class="btn btn-default btn-duo center" style="margin:0px 0px 5px 0px;">
                          Delete
                      </button>
                      </form>
                  </td>
                  <td>{{ image.EXIF_LensSerialNumber }}</td>
                  <td>{{ image.MakerNote_SerialNumberFormat }}</td>
                  <td>{{ image.EXIF_BodySerialNumber }}</td>
                  <td>{{ image.MakerNote_InternalSerialNumber }}</td>
                  <td>{{ image.MakerNote_SerialNumber }}</td>
                  <td>{{ image.Image_BodySerialNumber }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>


{% endblock content %}
{% block extrafooter %}
        <script>

            $(document).ready(function() {
                $('#image_table').dataTable();
             } );
        </script>
{% endblock extrafooter %}
