{% extends "base.html" %}
{% set active_page = "overview" %}

{% block content %}
<div class='inner'>
<div class='col-sm-12'>
    <h1 style='text-align: center;'>Memex-Viewer</h1>
    <p style='text-align: center;font-size:18px;'>The next generation of information retrieval, data mining, and visualization.</p>
    <div style='text-align: center;'>
        <button type="button" class="btn btn-default btn-duo center">
            <a href="#">Learn More</a>
        </button>
        <button type="button" class="btn btn-default btn-duo center">
            <a href="#">Source</a>
        </button>
        <button type="button" class="btn btn-default btn-duo center">
            <a href="#">Docs</a>
        </button>
    </div>
</div>
<div class='col-sm-12'>
    <h1 style='text-align:center;padding-top:20px;'>Projects</h1>
</div>
    <ul class='inline-icons'>
    {% if projects %}
    <div class='row'>
    {% for x in projects %}
    <div class='col-sm-2 index-columns'>
        <a href="#"><li><i class="fa fa-globe"></i><br>{{ x.name }}</li></a>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <div class='row'>
    <div class='col-sm-2 index-columns'>
        <a href="#"><li><i class="fa fa-file-o"></i><br>Add Project</li></a>
    </div>
    </div>
    {% endif %}
    </ul>
    <br><br>
    <h1 style='text-align:center;'>Apps</h1>
    <div class='row'>
    <ul class='inline-icons'>
        <div class='col-sm-3 index-columns'>
        <a href="#"><li><i class="fa fa-archive"></i><br>Crawls</li></a>
        </div>
        <div class='col-sm-3 index-columns'>
        <a href="#"><li><i class="fa fa-line-chart"></i><br>Dashboards</li></a>
        </div>
        <div class='col-sm-3 index-columns'>
        <a href="#"><li><i class="fa fa-database"></i><br>Data Sources</li></a>
        </div>
        <div class='col-sm-3 index-columns'>
        <a href="#"><li><i class="fa fa-share-alt"></i><br>Data Flows</li></a>
        </div>
        <div class='col-sm-3 index-columns'>
        <a href="#"><li><i class="fa fa-search"></i><br>Data Models</li></a>
        </div>
        <div class='col-sm-3 index-columns'>
        <a href="#"><li><i class="fa fa-image"></i><br>Image Space</li></a>
        </div>
    </ul>
    </div>
</div>
{% endblock %}
