{% extends "base.html" %}
{% set active_page = "overview" %}

{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  <h4>Crawls</h4>
    {% for crawl in crawls %}
    {% set href, id, caption = ['/crawl/' + crawl.endpoint , crawl.endpoint, crawl.name] %}
      <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
    {% endfor %}
  <!--h4>Plots</h4>
    {% for plot in plots %}
    {% set href, id, caption = ['/plot/' + plot.endpoint , plot.endpoint, plot.name] %}
      <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
    {% endfor %}-->
  <h4>Dashboards</h4>
    {% for dash in dashboards %}
    {% set href, id, caption = ['/dash/' + dash.endpoint , dash.endpoint, dash.name] %}
      <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
    {% endfor %}
  </ul>
  <button type="button" class="btn btn-default">
      <a href="/register_crawl"><span class="glyphicon glyphicon-plus"></span></a>
  </button>
</div>
{% endblock %}

{% block content %}

{% endblock %}
