{% extends "base.html" %}
{% set active_page = "overview" %}

{% block content %}

{% include "sidebar.html" %}

<div class='row'>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1>{{ project.name }}
    <button id="playButton" type="button" class="btn btn-control">
        <i class="fa fa-close"></i>
    </button>
    <button id="playButton" type="button" class="btn btn-control">
        <i class="fa fa-edit"></i>
    </button></h1>
  <p>{{ project.description }}</p>
</div>
</div>
<!-- <div class='row'>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2>Add a new application to your project:</h2>
    </div>
</div> -->

<div class='row'>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
{% if crawls.count() or dashboards.count() or images.count() %}
    <h3>Apps in {{ project.name }}</h3>
    <ul class="list-group">
        {%  for w in crawls if crawls %}
        <li class="list-group-item">
            <a href="{{ url_for('crawl', project_name=project.name, crawl_name=w.name) }}"><i class="fa fa-search"></i>  {{ w.name }}</a>
        </li>
        {% endfor %}
        {% for x in dashboards if dashboards %}
        <li class="list-group-item">
            <a href="{{ url_for('dash', project_name=project.name, dashboard_name=x.name) }}"><i class="fa fa-line-chart"></i> {{ x.name }}</a>
        </li>
        {% endfor %}
        {% for x in images if images %}
        <li class="list-group-item">
            <a href="#"><i class="fa fa-image"></i> {{ x.name }}</a>
        </li>
        {% endfor %}
        </ul>
{% else %}
    <h3> No apps install in {{ project.name }}</h3>
{% endif %}
    </div>
</div>

<div class='row'>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3> Add apps to {{ project.name }}</h3>
        <div class='col-sm-3 text-center'>
         <a href="{{ url_for('add_crawl', project_name=project.name) }}" class='app-icon'>
         <h1><i class="fa fa-search"></i></h1>
            <h4>Crawls</h4>
         </a>
        </div>
        <div class='col-sm-3 text-center'>
         <a href="#" class='app-icon'>
         <h1><i class="fa fa-line-chart"></i></h1>
            <h4>Dashboards</h4>
         </a>
        </div>
        <div class='col-sm-3 text-center'>
         <a href="#" class='app-icon'>
         <h1><i class="fa fa-database"></i></h1>
            <h4>Data Sources</h4>
         </a>
        </div>
        <div class='col-sm-3 text-center'>
         <a href="{{ url_for('add_model', project_name=project.name) }}" class='app-icon'>
         <h1><i class="fa fa-archive"></i></h1>
            <h4>Data Models</h4>
         </a>
        </div>
        <div class='col-sm-3 text-center'>
         <a href="#" class='app-icon'>
         <h1><i class="fa fa-image"></i></h1>
            <h4>Image Space</h4>
         </a>
        </div>
    </div>
</div>

{% endblock %}
