<div class="col-sm-3 col-md-2 sidebar">
    <a href="{{ url_for('project', project_name=project.name) }}"><h2><i class='fa {{ project.icon }}'></i><br>{{ project.name }}</h2></a>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Crawls
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse accordion-links">
        {% if crawls %}
        {% for w in crawls %}
          <div class="accordion-inner">
            <a href="{{ url_for('crawl', project_name=project.name, crawl_name=w.name) }}">{{ w.name }}</a>
          </div>
        {% endfor %}
        {% endif %}
          <div class="accordion-inner">
            <a href="#">+ Add Crawl</a>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Dashboards
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse accordion-links">
        {% if dashboard %}
        {% for x in dashboard %}
          <div class="accordion-inner">
            <a href="#">{{ x.name }}</a>
          </div>
        {% endfor %}
        {% endif %}
          <div class="accordion-inner">
            <a href="#">+ Add Dashboard</a>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            Data Sources
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse accordion-links">
        {% if data_sources %}
        {% for y in data_sources %}
          <div class="accordion-inner">
            <a href="#">{{ y.name }}</a>
          </div>
        {% endfor %}
        {% endif %}
          <div class="accordion-inner">
            <a href="#">+ Add Data Source</a>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
            Data Flows
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse accordion-links">
        {% if data_flows %}
        {% for z in data_flows %}
          <div class="accordion-inner">
            <a href="#">{{ z.name }}</a>
          </div>
        {% endfor %}
        {% endif %}
          <div class="accordion-inner">
            <a href="#">+ Add Data Flow</a>
          </div>
        </div>
      </div>
    </div>
</div>