<div class="col-sm-3 col-md-2 sidebar">
    <a href="{{ url_for('project', project_name=project.name) }}"><h2><i class='fa {{ project.icon }}'></i><br>{{ project.name }}</h2></a>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Crawls
          </a>
          {% if crawls[0] %}
          <a href="{{ url_for('crawls', project_name=project.name) }}" style='float:right;'><i class="fa fa-list"></i></a>
          {% endif %}
        </div>
        <div id="collapseOne" class="accordion-body collapse accordion-links">
        {% for w in crawls if crawls %}
          <div class="accordion-inner">
            <a href="{{ url_for('crawl', project_name=project.name, crawl_name=w.name) }}">{{ w.name }}</a>
          </div>
        {% endfor %}
          <div class="accordion-inner">
            <a href="{{ url_for('add_crawl', project_name=project.name) }}">+ Add Crawl</a>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Dashboards
          </a>
          {% if dashboards[0] %}
          <a href="#" style='float:right;'><i class="fa fa-list"></i></a>
          {% endif %}
        </div>
        <div id="collapseTwo" class="accordion-body collapse accordion-links">
        {% for x in crawls %}
          <div class="accordion-inner">
            <a href="{{ url_for('crawl_dash', project_name=project.name, crawl_name=x.name) }}">{{ x.name }}</a>
          </div>
        {% endfor %}
          <div class="accordion-inner">
            <a href="{{ url_for('add_dashboard', project_name=project.name) }}">+ Add Dashboard</a>
          </div>
        </div>
      </div>
    <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
            Data Models
          </a>
          {% if models[0] %}
          <a href="#" style='float:right;'><i class="fa fa-list"></i></a>
          {% endif %}
        </div>
        <div id="collapseFour" class="accordion-body collapse accordion-links">
        {% for x in models %}
          <div class="accordion-inner">
            <a href="#">{{ x.name }}</a>
          </div>
        {% endfor %}
          <div class="accordion-inner">
            <a href="{{ url_for('add_model', project_name=project.name) }}">+ Add Data Model</a>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
            Image Spaces
          </a>
          {% if image_spaces[0] %}
          <a href="#" style='float:right;'><i class="fa fa-list"></i></a>
          {% endif %}
        </div>
        <div id="collapseFive" class="accordion-body collapse accordion-links">
        {% for x in image_spaces %}
          <div class="accordion-inner">
            <a href="{{ url_for('image_table', project_name = project.name, image_space_name=x.name) }}">{{ x.name }}</a>
          </div>
        {% endfor %}
          <div class="accordion-inner">
            <a href="#">+ Add Image Space</a>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            Data Sources
          </a>
          {% if data_sources %}
            <a href="#" style='float:right;'><i class="fa fa-list"></i></a>
          {% endif %}
        </div>
        <div id="collapseThree" class="accordion-body collapse accordion-links">
        {% for y in data_sources %}
          <div class="accordion-inner">
            <a href="#">{{ y.name }}</a>
          </div>
        {% endfor %}
          <div class="accordion-inner">
            <a href="#">+ Add Data Source</a>
          </div>
        </div>
      </div>
    </div>
</div>