<div class="col-sm-3 col-md-2 sidebar">
    <a href="{{ url_for('project', project_slug=project.slug) }}"><h2><i class='fa {{ project.icon }}'></i><br>{{ project.name }}</h2></a>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
           <a href="{{ url_for('crawls', project_slug=project.slug) }}">
          Crawls
          </a>
         <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"  style='float:right;'><i class="fa fa-list"></i></a>
        </div>
        <div id="collapseOne" class="accordion-body collapse accordion-links">
        {% for w in crawls if crawls %}
          <div class="accordion-inner">
            <a href="{{ url_for('crawl', project_slug=project.slug, crawl_slug=w.slug) }}">{{ w.name }}</a>
          </div>
        {% endfor %}
          <div class="accordion-inner">
            <a href="{{ url_for('add_crawl', project_slug=project.slug) }}">+ Add Crawl</a>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading sidebar-buttons">
          <a href="{{ url_for('image_space', project_slug=project.slug) }}">
            Image Spaces
          </a>
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive" style='float:right;'><i class="fa fa-list"></i></a>
        </div>
        <div id="collapseFive" class="accordion-body collapse accordion-links">
        {% for x in image_spaces %}
          <div class="accordion-inner">
            <a href="{{ url_for('image_table', project_slug = project.slug, image_space_slug=x.slug) }}">{{ x.name }}</a>
          </div>
        {% endfor %}
          <div class="accordion-inner">
            <a href="#">+ Add Image Space</a>
          </div>
        </div>
      </div>
    </div>
</div>
