{% extends "base.html" %}
{% include 'sidebar.html' %}

{% block title %}Compare an Upload Image{% endblock %}

{% block extrahead %}
  <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
  <script>$( document ).ready(function() {

    options = {
        // url: "/upload",
        success:  function(file, response) {
             if (this.getUploadingFiles().length === 0
                 && this.getQueuedFiles().length === 0) {
                window.location.replace(response.url)}},
        failure: function(file, response) {
            alert(response);
        }
    }

    Dropzone.options.filedrop = options;

       $("div#filedrop").dropzone({ url: "/{{ project.slug }}/upload_image" });
       
   });

  </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3>Upload new image</h3>
    <form action="/{{ project.slug }}/upload_image" class="dropzone" id="filedrop"></form>

    <hr/>

    <h3> Uploaded images </h3>

    {% if image_pages %}
    <ul class="list-group">
      {% for img in image_pages %}
      <li class="list-group-item"><a href="{{ url_for('compare', project_slug=project.slug, image_name=img.filename)}}">{{img.filename}}</a></li>
      {% endfor %}
    </ul>
    {% else %}
      <p> No images have been uploaded yet. </p>
    {% endif %}



  </div>

{% endblock %}